{
  "openapi": "3.0.1",
  "info": {
    "title": "Table API",
    "description": "Allows you to perform create, read, update and delete (CRUD) operations on existing tables",
    "version": "latest"
  },
  "externalDocs": {
    "url": "https://docs.servicenow.com/?context=CSHelp:REST-Table-API"
  },
  "servers": [
    {
      "url": "https://instance.service-now.com"
    }
  ],
  "paths": {
    "/api/now/table/{tableName}": {
      "get": {
        "description": "Retrieve records from a table",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_query",
            "in": "query",
            "description": "An encoded query string used to filter the results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_suppress_pagination_header",
            "in": "query",
            "description": "True to supress pagination header (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_limit",
            "in": "query",
            "description": "The maximum number of results returned per page (default: 10,000)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_query_category",
            "in": "query",
            "description": "Name of the query category (read replica category) to use for queries",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_query_no_domain",
            "in": "query",
            "description": "True to access data across domains if authorized (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_no_count",
            "in": "query",
            "description": "Do not execute a select count(*) on table (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": { "description": "Not found" },
          "500": { "description": "Internal server error" },
          "403": { "description": "Forbidden" },
          "401": { "description": "Unauthorized" },
          "400": { "description": "Bad request" }
        }
      },
      "post": {
        "description": "Create a record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_input_display_value",
            "in": "query",
            "description": "Set field values using their display value (true) or actual value (false) (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_suppress_auto_sys_field",
            "in": "query",
            "description": "True to suppress auto generation of system fields (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRecord"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TableRecord"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/TableRecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": { "description": "Not found" },
          "500": { "description": "Internal server error" },
          "403": { "description": "Forbidden" },
          "401": { "description": "Unauthorized" },
          "400": { "description": "Bad request" }
        }
      }
    },
    "/api/now/table/{tableName}/{sys_id}": {
      "get": {
        "description": "Retrieve a record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_query_no_domain",
            "in": "query",
            "description": "True to access data across domains if authorized (default: false) ",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": { "description": "Not found" },
          "500": { "description": "Internal server error" },
          "403": { "description": "Forbidden" },
          "401": { "description": "Unauthorized" },
          "400": { "description": "Bad request" }
        }
      },
      "put": {
        "description": "Modify a record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_input_display_value",
            "in": "query",
            "description": "Set field values using their display value (true) or actual value (false) (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_suppress_auto_sys_field",
            "in": "query",
            "description": "True to suppress auto generation of system fields (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_query_no_domain",
            "in": "query",
            "description": "True to access data across domains if authorized (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRecord"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TableRecord"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/TableRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": { "description": "Not found" },
          "500": { "description": "Internal server error" },
          "403": { "description": "Forbidden" },
          "401": { "description": "Unauthorized" },
          "400": { "description": "Bad request" }
        }
      },
      "delete": {
        "description": "Delete a record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_query_no_domain",
            "in": "query",
            "description": "True to access data across domains if authorized (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Record deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": { "description": "Not found" },
          "500": { "description": "Internal server error" },
          "403": { "description": "Forbidden" },
          "401": { "description": "Unauthorized" },
          "400": { "description": "Bad request" }
        }
      },
      "patch": {
        "description": "Update a record",
        "parameters": [
          {
            "name": "tableName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sys_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_display_value",
            "in": "query",
            "description": "Return field display values (true), actual values (false), or both (all) (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_exclude_reference_link",
            "in": "query",
            "description": "True to exclude Table API links for reference fields (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_fields",
            "in": "query",
            "description": "A comma-separated list of fields to return in the response",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_input_display_value",
            "in": "query",
            "description": "Set field values using their display value (true) or actual value (false) (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_suppress_auto_sys_field",
            "in": "query",
            "description": "True to suppress auto generation of system fields (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_view",
            "in": "query",
            "description": "Render the response according to the specified UI view (overridden by sysparm_fields)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sysparm_query_no_domain",
            "in": "query",
            "description": "True to access data across domains if authorized (default: false)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TableRecord"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/TableRecord"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/TableRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Record updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": { "description": "Not found" },
          "500": { "description": "Internal server error" },
          "403": { "description": "Forbidden" },
          "401": { "description": "Unauthorized" },
          "400": { "description": "Bad request" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TableRecord": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "short_description": {
            "type": "string",
            "description": "Brief description of the record"
          },
          "description": {
            "type": "string",
            "description": "Detailed description"
          },
          "state": {
            "type": "string",
            "description": "State of the record (e.g. New, In Progress, Resolved, Closed)"
          },
          "urgency": {
            "type": "string",
            "description": "Urgency level: 1 - High, 2 - Medium, 3 - Low"
          },
          "impact": {
            "type": "string",
            "description": "Impact level: 1 - High, 2 - Medium, 3 - Low"
          },
          "priority": {
            "type": "string",
            "description": "Priority: 1 - Critical, 2 - High, 3 - Moderate, 4 - Low, 5 - Planning"
          },
          "category": {
            "type": "string",
            "description": "Category of the record (e.g. Software, Hardware, Network)"
          },
          "subcategory": {
            "type": "string",
            "description": "Subcategory of the record"
          },
          "assignment_group": {
            "type": "string",
            "description": "Group assigned to work the record"
          },
          "assigned_to": {
            "type": "string",
            "description": "Individual assigned to work the record"
          },
          "caller_id": {
            "type": "string",
            "description": "The user who reported the issue"
          },
          "comments": {
            "type": "string",
            "description": "Additional comments (visible to caller)"
          },
          "work_notes": {
            "type": "string",
            "description": "Internal work notes (not visible to caller)"
          },
          "close_notes": {
            "type": "string",
            "description": "Resolution notes entered when closing the record"
          },
          "resolution_code": {
            "type": "string",
            "description": "Code indicating how the issue was resolved"
          },
          "caused_by": {
            "type": "string",
            "description": "Change request that caused this incident"
          },
          "location": {
            "type": "string",
            "description": "Location associated with the record"
          },
          "business_service": {
            "type": "string",
            "description": "Business service affected"
          },
          "cmdb_ci": {
            "type": "string",
            "description": "Configuration item (CI) affected"
          }
        }
      }
    }
  }
}
